<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>nilai a : {{ a }}</h1>
    <h1>count : {{ count }}</h1>
    <h1>Rata-rata : {{ average }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a: 0,
        count: 0
      },
      computed : {
        average() {
          return this.a/this.count
        }
      },
      methods : {
        openForm() {
          this.a = 0
          this.count = 0
          while (this.a < 10) {
            let x = prompt('masukkan nilai a')
            this.a = this.a+parseInt(x)
            this.count ++
          }
        }
      }
  })
  </script>
</body>
</html>
