<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="key" placeholder="ketikkan kata kunci">
    <ul>
      <li v-for="item in filtered">
        {{item}}
      </li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        key : '',
        books : [
          'Kalkulus Dasar',
          'Fisika Dasar',
          'Aljabar Linier Elementer',
          'Aljabar Abstrak',
          'Algoritma Pemrograman'
        ]
      },
      computed : {
        filtered() {
          let a = this.books.filter((text)=>{
            let b = text.toLowerCase().search(this.key)
            return b >= 0
          })
          return a
        }
      },
      methods : {}
  })
  </script>
</body>
</html>
