<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    li {
      margin-bottom: 0.5rem;
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
      <input type="text" v-model="input">
      <button v-if="button == 'add'" @click="add()">add</button>
      <button v-else @click="update()">update</button>
    </div>
    <ul>
      <li v-for="(user, index) in users">
        {{user.name}} 
        <button @click="edit(index)">Edit</button> |
        | <button @click="remove(index)">Delete</button>
      </li>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        input: "",
        button: "add",
        editedindex: null,
        users: [
          {name: 'Muhammad Iqbal Mubarok'},
          {name: 'Ruby Purwanti'},
          {name: 'Faqih Muhammad'}
        ]
      },
      methods : {
        add() {
          this.users.push({name: this.input})
          this.input = ""
        },
        edit(index) {
          this.button = "edit"
          this.input = this.users[index].name
          this.editedindex = index
        },
        remove(index) {
          this.users.splice(index,1)
        },
        update(index) {
          this.users[this.editedindex].name = this.input
          this.button = "add"
          this.editedindex = null
          this.input = ""
        }
      }
  })
  </script>
</body>
</html>
